*{
    box-sizing: border-box;
}


body{
    background-color: lightgray;
    margin: 0;
}



/* ****HELPERS*** */

.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 10px;
    grid-template-areas:
    "weather map"
    "loc map"
    ;
}
.weather-container{
    grid-area: weather;
    margin-bottom: 10px;
    background-color: lightpink;
}
.loc-table-container{
    grid-area: loc;
    background-color: lightseagreen;
}
.map-container{
    grid-area: map;
}

